@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background-color: #5f2c82;
    width: 100%;
    height: 100%;
}
main {
    position: relative;
    width: 100%;
    height: 100%;
}
section#login {
    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; 
    transition: width 1s, height 1s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
div#img {
    background: #5f2c82 url(../images/user.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.450);
    height: 200px;
    display: block;
}
div#form {
    padding: 10px;
    display: block;
}
div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#form > p {
    font-size: 0.8em;
    text-align: center;
}
.campo {
    background-color: #ccc;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
label {
    display: none;
}
div.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
.campo > input {
    background-color: #ccc;
    height: 100%;
    width: calc(83% - 0px);
    margin-left: 40px;
    padding: 5px;
    font-size: 1em;
    border: 0;
    border-radius: 4px;
    transform: translateY(-42px);
}
.campo > input:focus-within {
    background-color: white;
}
/* button submit */
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f2c82;
    border: 1px solid #5f2c82;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #3e1f52;
}
/* button recovery */
form > a.btn-recovery {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f2c82;
    color: white;
    border: 1px solid #5f2c82;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;
}
form >a.btn-recovery:hover {
    background-color: #3e1f52;
}
form > a.btn-recovery >i {
    font-size: 0.8em;
}